.dialog-pane .button {
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-font-family: Segoe UI;
    -fx-font-size: 1em;

    -fx-background-color: #cccccc;
    -fx-border-color: transparent;
}

.dialog-pane .button:hover {
    -fx-background-color: #c5c5c5;
    -fx-border-color: #7a7a7a;

}

.dialog-pane .button:pressed {
    -fx-background-color: #999999;
}

.dialog-pane .button:default {
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-family: Segoe UI;
    -fx-font-size: 1em;

    -fx-background-color: #0078d7;
    -fx-border-color: transparent;
}

.dialog-pane .button:default:hover {
    -fx-border-color: #72b6ea;
}

.dialog-pane .button:default:pressed {
    -fx-background-color: #004981;
}
